@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

/* Reset inicial */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Início cabeçalho */
.cabecalho {
  align-items: center;
  display: flex;
  font-family: 'Roboto Condensed', sans-serif;
  justify-content: space-between;
  padding: 5px;
}

.cabecalho a {
  color: black;
  text-decoration: none;
}

.cabecalho nav ul {
  display: flex;
  list-style: none;
}

.cabecalho nav ul a {
  border-bottom: 1px solid black;
  text-decoration: none;
  margin: 5px;
}

.cabecalho nav ul a li {
  padding: 5px 10px;
}
/* Fim cabeçalho */

/* Início seção 01 */
.s1 {
  margin: 1px 0;
  padding: 1px;
}

.s1 div {
  background-attachment: fixed;
  background-image: url('../images/hamburguer-tela-inicial-mobile-1000x1333.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 600px;
  position: relative;
}

.s1 img {
  display: block;
  height: 600px;
  margin: 50px auto;
  width: 100%;
}

.promo-button {
  background-color: rgba(0, 0, 0, .7);
  border-radius: 5px;
  bottom: 5px;
  color: white;
  display: block;
  font-family: 'Berkshire Swash', cursive;
  font-size: 30px;
  margin: 0 auto;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 90%;
}

.contact-button {
  display: none;
}

.s1 aside {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 50px 0;
  width: 100%;
}

.s1 aside h1 {
  color: firebrick;
  font-size: 25px;
  margin: 200px 0 50px 0;
  text-align: center;
  text-decoration: underline;
}

.s1 aside img {
  height: 400px;
  max-width: 450px;
}
/* Fim seção 01 */

/* Início seção 02 */
.s2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 1px 0;
  padding: 0 10px;
}

.s2 h1 {
  font-size: 45px;
  margin: 100px 0;
  text-align: center;
}

.cardapio-01 {
  border: 2px solid black;
  border-radius: 20px 1px;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  margin: 10px auto;
  padding: 20px;
  max-width: 400px;
}

.cardapio-02 {
  border: 2px solid black;
  border-radius: 1px 20px;
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
  margin: 10px auto;
  padding: 20px;
  max-width: 400px;
}
/* Fim seção 02 */

/* Início seção 3 */
.s3 {
  font-family: 'Roboto Condensed', sans-serif;
  padding: 1px;
  text-align: center;
}

.s3 h1 {
  font-size: 45px;
  margin: 100px 0;
  text-align: center;
}

.contatos-fone {
  height: 400px;
  width: 100%;
}

.contatos-fone p {
  font-size: 25px;
  margin: 10px 0;
}

.contatos-fone h2 {
  border: 2px solid black;
  border-radius: 5px;
  margin: 0 0 150px 0;
  padding: 10px;
}

.localizacao {
  height: 400px;
  margin: 0 0 50px 0;
  width: 100%;
}

.localizacao h2 {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.localizacao iframe {
  border-radius: 5px;
  display: block;
  margin: 10px auto;
  width: 99%;
}
/* Fim seção 03 */

/* Início seção 04 */
.s4 {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 300px 0 0 0;
  padding: 1px;
  text-align: justify;
}

.s4 h1 {
  text-align: center;
}

.s4 p {
  margin: 40px 0;
  padding: 5px;
}
/* Fim seção 04 */

/* Início seção 05 */
.s5 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.s5 iframe {
  margin: 50px 0;
  width: 100%;
}
/* Fim seção 05 */

/* Início rodapé */
footer {
  background-color: rgba(0, 0, 0, .9);
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 50px 10px;
  text-align: center;
}
/* Fim rodapé */

@media only screen and (min-width: 700px) {
  .cabecalho {
    padding: 20px;
  }

  .s1 {
    display: flex;
    justify-content: space-between;
  }

  .s1 div {
    background-attachment: fixed;
    background-image: url('../images/hamburguer-tela-inicial-desktop-1200x800.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 50% 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 600px;
    position: relative;
    width: 49.5%;
  }

  .promo-button {
    display: none;
  }

  .contact-button {
    background-color: rgba(0, 0, 0, .7);
    border-radius: 5px;
    bottom: 10px;
    color: white;
    display: block;
    font-family: 'Berkshire Swash', cursive;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 90%;
  }

  .s1 aside {
    width: 49.5%;
  }

  .s1 aside h1 {
    margin: 0;
  }

  .s2 div {
    display: flex;
    justify-content: center;
  }

  .cardapio-01, .cardapio-02 {
    margin: 10px 20px;
  }

  .s3 div {
    display: flex;
    justify-content: center;
  }

  .contatos-fone, .localizacao {
    margin: 0 10px;
  }

  .s4 {
    margin: 300px auto 0 auto;
    max-width: 700px;
  }

  .s5 {
    margin: 0 auto;
    max-width: 700px;
  }
}
